# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
source/*.exe
source/*.out
source/*.app

#my own Data
source/data/
source/log/

Release v1/data/
Release v1/log/

Release v2/data/
Releasev2/log/



#devC++
source/*.dev
source/*.win
source/*.layout

source/*.rc
source/*res
source/Bank-Management-System_private.h